:host {
    margin-top: 25px;
    padding: 25px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: var(--black-010);

    h2{
        text-align: center;
        margin: 0 0 25px 0;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        li {
            flex: 20%;
            width: 160px;
            height: 160px;

            button {
                width: 100%;
                height: 100%;
                cursor: pointer;
                padding: 0; // Remover qualquer preenchimento interno do botão

                background: var(--black-010);
                border: 2px solid var(--primary);
                border-radius: 7px;
                overflow: hidden; // Garante que a imagem não ultrapasse os limites do botão

                transition: 0.5s;

                &:hover {
                    background: var(--primary);
                }

                img {
                    width: 100%; // Faz a imagem ocupar toda a largura do botão
                    height: 100%; // Faz a imagem ocupar toda a altura do botão
                    object-fit: cover; // Garante que a imagem cubra todo o espaço disponível do botão mantendo a proporção
                }
            }
        }
    }

    @media(max-width: 750px){
        ul {
            li{
                flex: 100%;
            }
        }
    }
}
